// TODO
.banner {
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
    max-height: 25rem;
  }
}

.postContent {
  margin-top: 80px;

  header {
    color: var(--gray-500);
    h1 {
      font-weight: 700;
      font-size: 3rem;
      color: var(--gray-100);
    }
    ul {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 1rem;
        svg {
          margin-right: 0.5rem;
        }

        & + li {
          margin-left: 1.875rem;
        }
      }
    }

    time {
      display: block;
      margin-top: 1.125rem;
      font-weight: 400;
      font-style: italic;
      font-size: 0.875rem;
    }
  }

  section {
    margin-top: 4rem;
    h4 {
      margin-bottom: 4rem;
      font-weight: 700;
      font-size: 2rem;
      color: var(--gray-100);
    }
    p {
      color: var(--gray-500);
      font-weight: 400;
      line-height: 1.5rem;
    }
  }
}

div.paginateContainer {
  display: flex;
  flex-direction: column;
  margin: 3.75rem 0;

  .paginateSeparator {
    height: 1px;
    width: 100%;
    opacity: 0.1;
    background-color: var(--gray-300);
    margin-bottom: 3.75rem;
  }

  .paginateButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: inline-block;
      border: 1px solid var(--gray-800);
      border-radius: 0.25rem;
      max-width: 236px;

      padding: 0.5rem;
      font-weight: 400;
      color: var(--gray-100);
      line-height: 1.5rem;

      transition: border-color 0.2s;

      &:hover {
        border-color: var(--pink-500);
      }

      span {
        display: block;
        margin-top: 0.5rem;
        color: var(--pink-500);
        font-size: 0.875rem;
        font-weight: 600;
        font-style: normal;
      }
      & + a {
        margin-left: 2rem;
        text-align: right;
      }
    }
  }
}
